<!DOCTYPE html>
<html lang="en">
<head>
  <title>simpletop</title>

  <!-- Style -->
  <style>{{ raw "bower.css" }}</style>
  <style>{{ raw "style.css" }}</style>

  <!-- JavaScript -->
  <script type="text/javascript">{{ raw "bower.js" }}</script>
  <script type="text/javascript">{{ raw "application.js" }}</script>

  <!-- Imports -->
  {{ raw "imports.html" }}
</head>
<body>
  <p>Hello!</p>
</body>
</html>
